.headerSection {
    display: flex;
    padding: 1rem 3.5rem;
    background: rgb(0, 0, 0, 0.7);
}

.headerSection .headerSectionLogo {
    flex: 1;
}

.headerSection .headerSectionLogo img {
    width: 2.5rem;
    height: 2.5rem;
}

.headerSection .headerSectionNavbar {
    flex: 5;
    display: flex;
    justify-content: center;
}

.headerSectionNavbar .headerSectionNavbarMenu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.headerSectionNavbarMenu .navbarMenuItem {
    margin: 0rem 0.5rem;
    padding: 0.5rem 1rem;
}

.navbarMenuItem a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}

.headerSection .headerSectionSearch {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSectionSearch input {
    width: 17rem;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.headerSectionSearch input:focus {
    border: none;
    outline: none;
}