.cards {
    margin: 1rem 1rem;
    border: 2px solid rgb(114, 196, 255);
    border-radius: 1rem;
}

.cards .card {
    max-width: 500px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 2px solid rgb(114, 196, 255);
}

.card .card-info {
    flex: 3;
    text-align: justify;
    border-right: 2px solid rgb(114, 196, 255);
    padding: 1rem;
}

.card-info h4 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.card-info a {
    margin-top: 1rem;
    text-decoration: none;
}

.card-info p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.card-info .card-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.card-buttons .btn {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    color: #fff;
}

.btn-inc {
    background: green;
}

.btn-inc:hover {
    background: darkgreen;
}

.btn-dec {
    background: red;
}

.btn-dec:hover {
    background: darkred;
}

.btn-res {
    background: rgb(0, 162, 255);
}

.btn-res:hover {
    background: rgb(0, 94, 148);
}

.card .card-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1;
    padding: 1rem 0rem 1.5rem;
}

.card-img img {
    flex: 3;
    width: 100%;
}

.card-img p {
    margin: 0;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}

.cards form {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form span {
    font-size: 1.2rem;
}

form input {
    max-width: 7rem;
    border: 2px solid rgb(114, 196, 255);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}

form input:focus {
    outline: none;
}