.app {
    height: 100vh;
    color: #000;
}

.content {
    max-width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    padding: 5rem 0;
}

.search-panel {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.25rem;
    background-color: #fcfaf5;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.15);
}